body {
    background-image: url("https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/nationalgeographic1440125.webp?w=760&h=1143");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 5%;
    text-align: left;
    height: 120px;
    background: linear-gradient(270deg, #262c7c, #7a2d9e, #7223a0);
    background-size: 600% 600%;
    animation: animarFundo 5s ease infinite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding: 0px 10%;
    height: 120px;
    background: linear-gradient(270deg, #000000, #2c2c2c, #000000);
    background-size: 600% 600%;
    animation: animarFundo 8s ease infinite;
}

@keyframes animarFundo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

a{
    color: white; 
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
}   
